.Rproj.user
.Rhistory
.RData
.Ruserdata

# data folders #
data/
app/*_data/

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS]*

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]

# Exceptions #
!lookups/la_websites.xlsx
!app/modules/text_content/FAQ.xlsx