.Rproj.user
.Rhistory
.RData
.Ruserdata

# data folders #
data/
app/*_data/
lookups/school_lookup/

# App deployment #
app/rsconnect/

# Server info #
adm_server.txt

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS]*

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]

# Exceptions #
!lookups/local_authorities.xlsx
!app/modules/text_content/FAQ.xlsx